body{
    margin: 0%;
    padding: 0%;
    font-family: Calibri;
}

.baslik {
    position: absolute;
    width: 100%;
    height: 13%;
    border-bottom: solid 10px rgb(209, 0, 0);
}

#logout {
    position: absolute;
    margin-left: 88%;
    margin-top: 20px;
    font-family: Calibri;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    box-shadow: gray 0px 0px 5px 2px;
    font-size: 20px;
    font-weight: bold;
}

#logout:hover {
    border-bottom: 5px solid rgb(255, 0, 0);
    transition: all 0.5s ;
}
.logo {
    margin-left: 50px;
    margin-top: 15px;
}

.a_baslik {
    position: absolute;
    background-color: rgb(209, 3, 3);
    color: white;
    margin-left: 410px;
    margin-top: 18px;
    width: 35%;
    border-radius: 50px;
}

.a_baslik p {
    margin-left: 100px;
}

.resim {
    margin-top: 10px;
}

.cizgi {
    border-bottom: 10px solid rgb(207, 0, 0);
    margin-top: -4px;
}

.bilet {
    position: absolute;
    margin-top: -325px;
    margin-left: 250px;
    border-radius: 20px;
    background-color: rgba(108, 152, 165, 0.452);
    width: 920px;
    height: 200px;
    box-shadow: rgb(75, 75, 75) 0px 0px 10px 5px;
}

.nereden {
    margin-left: 30px;
}

.p_nereden {
    font-size: 20px;
    font-weight: bold;
    border-bottom: solid black;
    width: 74px;
}

.nereye {
    margin-top: -97px;
    margin-left: 250px;
}

.p_nereye {
    font-size: 20px;
    font-weight: bold;
    border-bottom: solid black;
    width: 62px;
}

#selector{
    width: 200px;
    height: 30px;
}

.tarih {
    margin-top: -97px;
    margin-left: 470px;
}

.p_tarih {
    font-size: 20px;
    font-weight: bold;
    border-bottom: solid black;
    width: 45px;
}

#date {
    width: 200px;
    height: 26px;
}

.yolcu {
    margin-top: -97px;
    margin-left: 695px;
}

.p_yolcu {
    font-size: 20px;
    font-weight: bold;
    border-bottom: solid black;
    width: 45px;
}

.ara {
    position: absolute;
    margin-top: -200px;
    margin-left: 580px;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    border: none;
}

.ara:hover{
    background-color: rgb(207, 0, 0);
    color: white;
    border-bottom: 5px solid rgb(0, 0, 0);
    transition: all 0.5s ;
}

.alt {
    margin-left: 400px;
    margin-top: 35px;
}