body{
    margin: 0%;
    padding: 0%;
    font-family: Calibri;
}

.baslik {
    position: absolute;
    width: 100%;
    height: 13%;
    border-bottom: solid 10px rgb(209, 0, 0);
}

#logout {
    position: absolute;
    margin-left: 88%;
    margin-top: 20px;
    font-family: Calibri;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    box-shadow: gray 0px 0px 5px 2px;
    font-size: 20px;
    font-weight: bold;
}

#logout:hover {
    border-bottom: 5px solid rgb(255, 0, 0);
    transition: all 0.5s ;
}
.logo {
    margin-left: 50px;
    margin-top: 15px;
}

.a_baslik {
    position: absolute;
    background-color: rgb(209, 3, 3);
    color: white;
    margin-left: 470px;
    margin-top: 18px;
    width: 35%;
    border-radius: 50px;
}

.resim {
    margin-top: 10px;
}

.cizgi {
    border-bottom: 10px solid rgb(207, 0, 0);
    margin-top: -4px;
}

.bilet {
    position: absolute;
    margin-top: -410px;
    margin-left: 10px;
    border-radius: 20px;
    background-color: rgba(108, 152, 165, 0.452);
    width: 1346px;
    height: 395px;
    box-shadow: rgb(34, 34, 34) 0px 0px 20px 10px;
}

.alt {
    margin-left: 55px;
    margin-top: 30px;
}

.alt_btn {
    font-family: Calibri;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    box-shadow: rgb(0, 0, 0) 0px 0px 5px 5px;
    font-weight: bold;
    font-size: 18px;
}

.alt_btn:hover {
    border-bottom: 5px solid rgb(255, 0, 0);
    transition: all 0.5s ;
    box-shadow: rgb(54, 54, 54) 0px 0px 10px 5px;
}

#personel_tablo {
    margin-left: 75px;
    margin-top: 50px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  background-color: rgba(60,60,255,0.5);
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
